<div class="user-container">
  <h2>Users</h2>

  <button class="btn btn-success mb-4" routerLink="add">Add User</button>
  <div class="row">
    <span class="col-3">First Name</span>
    <span class="col-3">Last Name</span>
    <span class="col-3">Username</span>
  </div>
  <ul class="list-group">
    <li class="list-group-item row" *ngFor="let user of users">
      <span class="col-3 item-property">{{user.firstName}}</span>
      <span class="col-3 item-property">{{user.lastName}}</span>
      <span class="col-3 item-property">{{user.username}}</span>
      <span class="col-3 item-property">
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch static backdrop modal
        </button>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing user: {{user.username}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="create-user" #editForm="ngForm" (ngSubmit)="onEditUser(editForm)">
                  <div class="row">
                    <div class="mb-3 col-6">
                      <label class="form-label">First Name</label>
                      <input
                        ngModel
                        required
                        name="firstName"
                        (value)="user.firstName"
                        type="text"
                        class="form-control"
                        aria-describedby="emailHelp"
                      >
                    </div>
                    <div class="mb-3 col-6">
                      <label class="form-label">Last Name</label>
                      <input
                        ngModel
                        required
                        [value]="user.lastName"
                        name="lastName"
                        type="text"
                        class="form-control"
                      >
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-6">
                      <div class="alert-msg">Password
                        must at least 8 chars
                      </div>
                      <div>
                        <label class="form-label">Password</label>
                        <input ngModel required name="password" type="password" class="form-control">
                      </div>
                    </div>
                    <div class="mb-3 col-6">
                      <div class="alert-msg">
                        Repeat password must at least 8 chars</div>
                      <div>
                        <label class="form-label">Repeat Password</label>
                        <input ngModel required name="repeatPassword" type="password" class="form-control">
                      </div>
                    </div>
                  </div>

                  <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Submit</button>
                  <a data-bs-dismiss="modal">Cancel</a>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </div> -->
        <button class="btn btn-info me-2" routerLink="edit" (click)="onEditUser(user)">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </span>
    </li>
  </ul>

</div>
